@import "../../styles/colors";
@import "../../styles/loading";

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 72px 0 61px 0;
  background-color: $dark_gray;

  .main_details {
    display: flex;
    justify-content: center;
    gap: 33px;
    margin: 0 2rem;
    width: fit-content;
    height: fit-content;
    position: relative;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      margin: 0 16px;
      width: 100%;
      gap: 42px;
    }

    .movie_banner {
      min-width: 383px;
      height: 574px;
      border-radius: 8px;
      background-color: $gray;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      position: absolute;
      top: 0px;
      left: 0px;
      @include loading_animation;

      @media (max-width: 768px) {
        position: inherit;
        left: unset;
        top: unset;
        width: 186px;
        min-width: unset;
        height: 279px;
      }
    }

    .description_container {
      max-width: 800px;
      height: 100%;
      color: $moviedetail_header_title;
      margin-left: 416px;

      .movie_title {
        margin-bottom: 8px;
        color: transparent;
        width: 244px;
        height: 38px;
        @include loading_animation;
      }

      .desc_summary,
      .desc_summary_768 {
        margin-bottom: 16px;
        min-width: 100%;
        min-height: 25px;
        color: transparent;
        @include loading_animation;

        @media (max-width: 768px) {
          display: none;
        }
      }

      @media (max-width: 768px) {
        margin-left: 0;
        .desc_summary_768 {
          display: block !important;
        }
      }

      .public_evaluation_container {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 20px;

        .ui_evaluation_percentage {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          color: transparent;
          @include loading_animation;
        }

        p {
          width: 102px;
          min-height: 40px;
          color: transparent;
          @include loading_animation;
        }
      }

      h2 {
        margin-bottom: 8px;
        width: 100px;
        height: 35px;
        color: transparent;
        @include loading_animation;
      }

      .movie_synopsis {
        margin-bottom: 20px;
        width: 100%;
        height: 130px;
        color: transparent;
        @include loading_animation;

        @media (max-width: 768px) {
          margin-bottom: 33px;
        }
      }

      .movie_people_list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: fit-content;

        @media (max-width: 768px) {
          gap: 0px;
          row-gap: 23px;
        }

        .people_item {
          width: 174px;
          height: 60px;
          color: transparent;
          @include loading_animation;

          @media (max-width: 768px) {
            width: 45%;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 34px 0;
  }
}
