body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

button {
  border-style: none;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.005em;
  text-align: center;
}
